.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 100px;
    @include flex(row, space-between, center);
    width: 100%;
    background: $color-white;
    box-shadow: 1px 1px 5px $color-gray-text;
    height: $header-height;
    @include z-index(header, $elements);

    @include breakpoint(phone) {
        box-sizing: border-box;
        width: 100vw;
        padding: vw(20, phone);
    }

    &__nav-list {
        @include flex(row, space-around, center);
        width: 40%;
        max-width: 500px;
        min-width: 400px;

        @include breakpoint(phone) {
            display: none;
        }
    }

    &__nav-item {
        position: relative;
        display: inline-block;
        letter-spacing: -0.5px;
        font-size: 16px;
        color: $color-black;

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -5px;
            height: 1px;
            width: 100%;
            background: $color-gray-medium;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.4s $ease-out;
        }

        &.decorated {
            &:after {
                display: none;
            }
        }

        @include hover {
            &:after {
                transform-origin: left;
                transform: scaleX(1);
            }
        }
    }

    a {
        text-decoration: none;
        color: initial;
    }

    h1 {
        font-size: 30px;
        margin: 0;
        letter-spacing: -2px;
        pointer-events: none;
    }

    h2 {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        color: $color-gray-medium;
    }
}