.module {
    width: 100vw;
    height: 100vh;
    padding: 6vw;

    &--hero {
        padding-top: 0;
    }

    &--word,
    &--text {
        @include flex(row, center, center);
        height: auto;
        min-height: 100vh;
    }
}