.searchbar {
    position: relative;
    z-index: 1;

    input {
        padding: 0 20px;
        font-size: 16px;
        width: 500px;
        height: 50px;
        border-radius: 17px;
        border: none;
        box-shadow: 1px 1px 5px $color-gray-text;

        @include breakpoint(phone) {
            width: vw(330, phone);
        }

        &::placeholder {
            color: $color-gray-text;
        }

        &.error {
            border: 2px solid red;

            +.searchbar__error {
                display: block;
            }
        }
    }

    &__icon {
        position: absolute;
        right: 20px;
        top: 25%;
        opacity: 0.4;
        width: 25px;
        height: auto;
        cursor: pointer;
        transition: opacity 0.3s linear;

        @include hover {
            opacity: 1;
        }
    }

    &__dropdown {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        height: auto;
        background: white;
        z-index: -1;
        border-radius: 0 0 17px 17px;
        padding: 20px 0 1%;
        display: none;
        box-shadow: $default-box-shadow;
        overflow: hidden;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            width: 100%;
            font-weight: 700;
            padding: 8px 15px;
            color: $color-gray-medium;
            cursor: pointer;
            transition: color 0.2s linear;
            border-bottom: 1px solid $color-pale;

            &:hover,
            &.is-selected {
                color: $color-black;
                background: rgba($color-black, 0.01);
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &__error {
        @include font-size(13);
        position: absolute;
        bottom: -28px;
        color: red;
        display: none;
    }
}