$color-primary: #212121;
$color-secondary: #ececec;

$color-pale: #efefef;
$color-gray-text: #b3b3b3;
$color-gray-medium: #777;
$color-persian-green: #1EA896;

$color-black: #000;
$color-white: #fff;

$color-text: $color-black;
$color-background: $color-white;

// Sizes
$header-height: 77px;

// Easing
$ease-out: cubic-bezier(.17,.67,.32,.87);

$elements: dropdown, content, header;
