$color-primary: #212121;
$color-secondary: #ececec;

$color-pale: #efefef;
$color-gray-text: #b3b3b3;
$color-gray-medium: #777;
$color-persian-green: #1EA896;

$color-black: #000;
$color-white: #fff;

$color-text: $color-black;
$color-background: $color-white;

// Sizes
$header-height: 77px;
$default-radius: 10px;
$default-box-shadow: 1px 1px 5px $color-gray-text;
$default-letter-spacing: -0.5px;

// Easing
$ease-out: cubic-bezier(.17, .67, .32, .87);

$elements: dropdown, content, header;