<form class='searchbar' data-component='Searchbar'>
    <input class='js-search-input' type='text' placeholder='Wyszukaj synonim...' />
    <p class='searchbar__error'>Wpisz hasło wyszukiwania!</p>
    <img class='searchbar__icon js-search' src='../../../media/glass.svg' alt='search' />
    <div class='searchbar__dropdown js-search-dropdown'>
        <ul class='js-search-list'>
        </ul>
    </div>
</form>