<nav class='header'>
    <a class='header__title' href="/" onclick="route()">
        <h1>
            Synonimy
        </h1>
    </a>
    <div class="header__nav-list">
        <a class="header__nav-item" href="/about" onclick="route()">O stronie</a>
        <a class="header__nav-item" href="/info" onclick="route()">Czym są synonimy</a>
        <a class="header__nav-item decorated" href="/kontakt" onclick="route()">Kontakt</a>
    </div>
</nav>