<div class='hero'>
  <nav class='hero__header'>
    <div class='hero__title'>
      <h1>
        {{{title}}}
      </h1>
    </div>
    <div class="hero__nav-list">
      <a class="hero__nav-item">O stronie</a>
      <a class="hero__nav-item">Czym są synonimy</a>
      <a class="hero__nav-item decorated">Kontakt</a>
    </div>
  </nav>
  {{> searchbar}}
  <div class='hero__disclaimer'>
    {{{disclaimer}}}
  </div>
</div>