<nav class="sidenav js-side-nav">
    <ul class="sidenav__nav-list">
        <li class="sidenav__nav-item">
            <a href="/about" onclick="route()">O stronie</a>
        </li>
        <li class="sidenav__nav-item"> <a href="/info" onclick="route()">Czym są synonimy</a></li>
        <li class="sidenav__nav-item button"> <a href="/kontakt" onclick="route()">Kontakt</a></li>
    </ul>
</nav>