<div class="word">
    <div class="word__title">
        <h2 class="js-word-title"></h2>
    </div>
    <div class="word__list">
        <h4 class="word__heading">
            {{{listHeading}}}
        </h4>
        <ul class="js-synonym-list"></ul>
    </div>
</div>